<!DOCTYPE html>

<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Blockchain Logistics Tracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  * {
    box-sizing: border-box;
    -webkit-box-sizing
    -moz-box-sizing: border-box;

  }
  body{
    margin:50px 0;
    padding:0px;
    text-align:center;

  }
  .btn{
    font-size:25px;
    margin-bottom:12px;
    border-radius: 5px;
    padding:4px 15px;
    width:281px;
    height: 63px;
    font-size:30px;
  }



  @media only screen and (orientation: landscape) {
    .btn{
      width:75%;
      height: 75px;
      font-size:45px;
      margin-bottom:23px;
      border-radius: 5px;
      padding:8px 8px;

    }

    body{
      margin:50px 0;
      padding:0px;
      text-align:center;

    }
    .koko{
      margin-top:-44px;

    }
    </style>
    </head>
    <body>
    <div class="koko">
    <nav class="navbar navbar-light menu" style="background-color: #e3f2fd;">
    <div class="container-fluid">
    <div class="navbar-header">
    <a class="navbar-brand" href="/">Blockchain Logistics Tracker</a>
    </div>
    </div>
    <div class="container">
    <form>
    <div class="form-group ">
    <a href="/login"><button type="button" class="btn btn-primary">Add</button></a>
    </div>
    <div class="form-group ">
    <a href="/search"><button type="button" class="btn btn-primary">Search</button></a>
    </div>
    <div class="form-group ">
    <a href="/gen">  <button type="button" class="btn btn-primary">Create ID</button></a>
    </div>
    </form>
    </div>
    </nav>
    </div>
    <script>

    </script>


    </body></html>
